<section id="1" class="about-me">
    <ul class="about-me_container">
    <li class="about-me__image__container">
        <img class="about-me__image" alt="Твой инструктор" srcset="/about-me.057dd384.jpg 1x,/about-me@2x.69e75ebb.jpg 2x,/about-me@3x.7e97269e.jpg 3x" src="/about-me.057dd384.jpg">
    </li>
    <li class="about-me__text__container">
        <h2 class="about-me__title">Ваш консультант-диетолог</h2>
        <p class="about-me__text">Привет! Наше с тобой знакомство не случайно! Я - тот человек, который точно поможет тебе похудеть и больше никогда не
        набирать лишний вес!
        Давай знакомиться! Меня зовут Даша, я сертифицированный инструктор по здоровому питанию и построению красивого тела,
        твой диетолог-консультант. За 3 года работы, я помогла моим девочкам сбросить больше 1000 кг лишнего веса. Добро
        пожаловать в команду!Легко, интересно, весело! С шаурмой и шоколадом!</p>
    </li>
</ul>
</section>