.water-counter {
  background-color: $bg-color;
  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}
.water-counter__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @media screen and (min-width: 320px) {
    max-width: 450px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.water-counter__info {
  @extend %text-throw;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: $little-text-color;
  & span {
    color: $hover-color;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.input {
  height: 100px;
  margin-bottom: 10px;
  border: 2px solid $hover-color;
  transition: $animation-duration;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: $text-color;
  opacity: 0.5;
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    border: 2px solid $text-color;
    outline: none;
    opacity: 1;
  }
}
.output {
  @extend %text-throw;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: $little-text-color;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../images/icons/SymbolOK.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-weight: 700;
  font-size: 30px;
  transition: $animation-duration;
  opacity: 0;
}
