<footer id="foot" class="footer">
    <div class="footer-container">
        <div class="footer-contacts">
            <p>Адрес: г. Мелитополь, бул. 30-ти летия Победы, ПТУ 24</p>            
        </div>
        <ul class="footer-social">
            <li class="social-links"><a href="https://instagram.com/my_lady_massage_melitopol?igshid=1r4s7fjl1axaj"><svg class="social__icon">
                <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
            </svg></a></li>
            <li class="social-links"><a href="https://t.me/My_lady_massage"><svg class="social__icon">
                <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
            </svg></a></li>
            <li class="social-links"><a href="viber://chat?number=380977759423"><svg class="social__icon">
                <use href="./images/icons/symbol-defs.svg#icon-viber"></use>
            </svg></a></li>
            <li class="social-links"><a href="mailto:daxa011185@gmail.com"><svg class="social__icon">
                <use href="./images/icons/symbol-defs.svg#icon-gmail"></use>
            </svg></a></li>
        </ul>
        <div class="footer-button"><a class="footer-link" href="https://docs.google.com/forms/d/1M1Gm9GVNu5IVp926WRS1qGWbhXlcW7wABHiFLZ_pblA/viewform?edit_requested=true">Заполнить анкету</a></div>
        
    </div>
    <p class="copyright">Copyright &copy Buzinov V.S. 2020</p>    
</footer>