<a id="button"><svg class="social__icon">
    <use href="./images/icons/symbol-defs.svg#icon-arrow-up"></use>
  </svg></a>
<header class="header">
  <nav class="header-nav">
    <div class="header-logo_container">
      <svg class="header-logo">
        <use href="./images/icons/symbol-defs.svg#icon-11111"></use>
      </svg>
    </div>
    <button class="burger-button" data-menu-button type="button">
      <svg aria-label="Переключатель мобильного меню" class="burger-icon">
        <use class="burger__open" href="./images/icons/symbol-defs.svg#icon-th-menu-outline"></use>
        <use class="burger__close" href="./images/icons/symbol-defs.svg#icon-times-outline"></use>
      </svg>
    </button>
    </button>
    <ul class="header-menu" data-menu>
      <li class="header-menu__item">
        <a aria-label="Меню консультант-диетолог" href="#me" class="header-menu_link">
          <svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>
          Ваш консультант-диетолог</a>
      </li>
      <li class="header-menu__item"><a aria-label="Меню план питания" href="#plan" class="header-menu_link">
          <svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>План питания</a></li>
      <li class="header-menu__item"><a aria-label="Меню программа похудения" href="#slim" class="header-menu_link"><svg
            class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Программа Похудения</a></li>
      <li class="header-menu__item"><a aria-label="Меню Антицеллюлитный марафон" href="#mar"
          class="header-menu_link"><svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Антицеллюлитный марафон</a></li>
      <li class="header-menu__item"><a aria-label="Меню Антицеллюлитный массаж" href="#mas"
          class="header-menu_link"><svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Антицеллюлитный массаж</a></li>
      <li class="header-menu__item"><a aria-label="Меню счетчик нормы воды" href="#counters"
          class="header-menu_link"><svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Подсчитай дневные нормы</a></li>
      <li class="header-menu__item"><a aria-label="Меню контакты" href="#foot" class="header-menu_link"><svg
            class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Контакты</a></li>
      <li class="header-menu__item"><a aria-label="Меню анкета худеющего"
          href="https://docs.google.com/forms/d/1tCV6V349hqymR8NmT6hnXt_kBJufoVov9qSFCxJviYw/edit"
          class="header-menu_link"><svg class="header-menu__chekmark">
            <use href="./images/icons/symbol-defs.svg#icon-circle-right"></use>
          </svg>Анкета худеющего</a></li>
    </ul>
  </nav>
  <div class="header-info">

    <h1 class="header-info__title">MyLady Slim</h1>
    <p class="header-info__paragraph">Диетолог-консультант, инструктор по здоровому образу жизни и правильному питанию
    </p>
    <p class="header-info__par">Честное похудение без диет и голодания, с шаурмой и шоколадом</p>
    <a aria-label="Кнопка заполнения анкеты" class="button-form"
      href="https://docs.google.com/forms/d/1tCV6V349hqymR8NmT6hnXt_kBJufoVov9qSFCxJviYw/edit">Заполнить анкету</a>
  </div>
</header>