<section id="me" class="about-me">
    <ul class="about-me_container">
    <li class="about-me__image__container">
        <img class="about-me__image" alt="Твой инструктор"             
        srcset="/images/main/about-me.jpg 1x,
        /images/main/about-me@2x.jpg 2x,
        /images/main/about-me@3x.jpg 3x"
        src="/images/main/about-me.jpg"
        >
    </li>
    <li class="about-me__text__container">
        <h2 class="about-me__title">Ваш консультант-диетолог</h2>
        <p class="about-me__text">Привет! Наше с тобой знакомство не случайно! Я - тот человек, который точно поможет тебе похудеть и больше никогда не
        набирать лишний вес!
        Давай знакомиться! Меня зовут Даша, я сертифицированный инструктор по здоровому питанию и построению красивого тела,
        твой диетолог-консультант. За 3 года работы, я помогла моим девочкам сбросить больше 1000 кг лишнего веса. Добро
        пожаловать в команду!Легко, интересно, весело! С шаурмой и шоколадом!</p>
    </li>
</ul>
</section>