<section id="mar" class="maraphone">
    <div class="maraphone-container">
<div class="maraphone-text__container">
<h2 class="maraphone-title">АНТИЦЕЛЛЮЛИТНЫЙ МАРАФОН</h2>
<p class="maraphone-info">Моя страсть- антицеллюлитные марафоны! 2 недели - это тот срок, за который ты сбросишь от 2 до 8 кг без диет и
голодания, с самым доступным набором продуктов, даже без авокадо и семян чиа. 2 недели без особых усилий и ты уже не
сможешь остановить свой процесс похудения!
Плоский живот, подтянутые бедра...Восхищенные взгляды... Вопросы с недоумением... Новые знакомства...
Начни и ты уже не сможешь остановиться!</p>
</div>
<ul class="gallery js-gallery"></ul>
<div class="lightbox js-lightbox">
    <div class="lightbox__overlay"></div>
    <div class="lightbox__content">
        <img class="lightbox__image" src="" alt="" />
    </div>
    <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
</div>
<div class="maraphone-link__container"><a class="maraphone-link" href="viber://chat?number=380977759423">Заказать услугу</a></div>
</div>
</section>