<section id="mas" class="massage">
    <div class="massage-container">
    <div class="massage-text__container">
        <h2 class="massage-title">АНТИЦЕЛЛЮЛИТНЫЙ МАССАЖ</h2>
        <p class="massage-info">Массаж - великая сила! Убедитесь в этом сами, когда попадете ко мне на сеанс.
        Во время процедуры, я работаю на все 100%. Оптимальное сочетание ручного и аппаратного массажа пленит вас на долгие годы
        и вы уже не сможете отказать себе в чудодейственном эффекте от этой процедуры.
        Мощный лимфодренажный эффект беспощадно справится с вашими объемами и оздоровит весь оргагизм в целом.
        Каждый клиент для меня - отдельный мир и вы это прочувствуете на массаже!</p>
    </div>
    <ul class="massage-gallery massage-js-gallery"></ul>
    <div class="massage-lightbox massage-js-lightbox">
        <div class="massage-lightbox__overlay"></div>
        <div class="massage-lightbox__content">
            <img class="massage-lightbox__image" src="" alt="" />
        </div>
        <button type="button" class="massage-lightbox__button" data-action="massage-close-lightbox"></button>
    </div>
    <div class="massage-link__container"><a aria-label="Кнопка заказа услуги" class="massage-link" href="viber://chat?number=380977759423">Заказать услугу</a></div>
    </div>
</section>