<section id="plan" class="products">
    <h2 class="products__title">План питания</h2>
    <ul class="products_container">        
        <li class="products__image__container">
            <img class="products__image" alt="Твой инструктор" srcset="/images/products/product1.jpg 1x,
            /images/products/product1@2x.jpg 2x,
            /images/products/product1@3x.jpg 3x" src="/images/products/product1.jpg">
            <img class="products__image" alt="Твой инструктор" srcset="/images/products/product2.jpg 1x,
                                /images/products/product2@2x.jpg 2x,
                                /images/products/product2@3x.jpg 3x" src="/images/products/product2.jpg">
            <img class="products__image" alt="Твой инструктор" srcset="/images/products/product3.jpg 1x,
                                            /images/products/product3@2x.jpg 2x,
                                            /images/products/product3@3x.jpg 3x" src="/images/products/product3.jpg">
            <img class="products__image" alt="Твой инструктор" srcset="/images/products/product4.jpg 1x,
                                                        /images/products/product4@2x.jpg 2x,
                                                        /images/products/product4@3x.jpg 3x" src="/images/products/product4.jpg">
        </li>       
        <li class="products__text__container">           
            <p class="products__text">Если ты не командный игрок, то тебе подойдет индивидуальный план питания, составленный с
                учетом твоих вкусовых
                предпочтений. Хочешь сало? Без проблем! Тем более, оно очень даже полезное. Любишь роллы и жить не можешь без
                десерта?
                Легко! Ешь и худей! Я рассчитаю план питания именно для тебя так, что ты будешь есть любимые блюда и худеть.
                План питания имеет удобный для вас формат: брошюра или электронный вариант.</p>                
        </li>
        <li class="products-link__container"><a class="products-link" href="viber://chat?number=380977759423">Заказать услугу</a></li>
    </ul>    
</section>