<section id="slim" class="slimming">
    <h2 class="slimming__title">ПРОГРАММА ПОХУДЕНИЯ</h2>
    <ul class="slimming_container">        
        <li class="slimming__text__container">            
            <p class="slimming__text">            
            Я разработала 4 программы для комфортного похудения:
        </li>
        <li class="slimming__text__program"><span>Программа " Полный вперед".</span>
        Включает в себя 10 сеансов (3 раза в неделю) общего антицеллюлитного ручного+аппаратного массажа с крио- или термальным
        обертыванием, индивидуальный план питания;</li>
        <li class="slimming__text__program">
        <span>"Редко, но метко".</span>Программа для занятых девочек. Включает в себя 8 (2 раза в неделю) сеансов общего антицеллюлитного ручного+аппаратного
        массажа с крио- или термальным обертыванием, индивидуальный план питания, комплекс антицеллюлитных упражнений и
        воздействий на проблемные зоны;</li>
        <li class="slimming__text__program"><span>Программа "Похудение в паре".</span>
        Программа для подружек "неразлей вода", которые даже на массаж приходят вместе.
        Включает в себя 10 сеансов общего антицеллюлитного ручного+аппаратного массажа с крио- или термальным обертыванием,
        индивидуальный план питания для каждой с учетом индивидуальной калорийности, комплекс упраднений на кардиотренажерах с
        силовыми элементами. Не выходя из массажного кабинета, под моим контролем в комплексе с массажем. Затраченное на
        комплекс время - всего лишь полтора часа, а результат удивит даже скептика!</li>
        <li class="slimming__text__program"><span>Программа "Деловая колбаса".</span>
        Эта программа для девочек, которые ну уж очень все деловые и не могут позволить себе выделить время на сеанс массажа и
        длительные тренировки.
        Включает в себя индивидуальный план питания и комплекс домашних упражнений на 5 мин. в день. Через месяц, вы увидите
        себя новую в зеркале без особых материальных и трудовых затрат.
        
        *Каждая программа включает в себя измерение биологических показателей на биоимпендансных весах: вес, мышечная масса,
        жировая масса, костная масса т.д.</p></li>
        <li class="slimming__text__button"><a class="slimming__text__link" href="viber://chat?number=380977759423">Заказать услугу</a></li>
    </ul>
</section>