
<section id="count" class="water-counter">
    <div class="water-counter__container">
        <p class="water-counter__info"><span>Вода - источник жизни на земле!</span> Проверь, достаточно ли в тебе жизненных ресурсов.
        Умнож свой вес в кг на 30 мл воды и получишь свою норму на день. Не забывай, что вода должна быть качественной!</p>
        <input type="text" placeholder="Введите свой вес" class="input">        
        <p class="output">Вам нужно пить каждый день: мл. воды!!!</p>
    </div>
</section>
